{:paths   ["src" "public"]

 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}}

 :aliases {:main     {:extra-deps {reagent                     {:mvn/version "0.10.0"}
                                   re-frame                    {:mvn/version "1.1.1"}
                                   day8.re-frame/http-fx       {:mvn/version "0.2.1"}
                                   cljs-ajax                   {:mvn/version "0.8.1"}
                                   com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
                                   clj-commons/secretary       {:mvn/version "1.2.4"}
                                   kibu/pushy                  {:mvn/version "0.3.8"}}}

           :dev      {:extra-deps {binaryage/devtools         {:mvn/version "1.0.2"}
                                   nrepl/nrepl                {:mvn/version "0.8.2"}
                                   binaryage/dirac            {:mvn/version "1.6.1"}
                                   thheller/shadow-cljs       {:mvn/version "2.11.5"}
                                   day8.re-frame/tracing      {:mvn/version "0.6.0"}
                                   day8.re-frame/re-frame-10x {:mvn/version "0.7.0"}}}

           ;; - see https://github.com/liquidz/antq
           :outdated {:extra-deps {antq/antq           {:mvn/version "0.7.5"}
                                   org.slf4j/slf4j-nop {:mvn/version "2.0.0-alpha1"}}
                      :main-opts  ["-m" "antq.core"]}

           ;; - run code check
           :lint     {:extra-deps {clj-kondo {:mvn/version "2020.10.10"}}
                      :main-opts  ["-m" "clj-kondo.main" "--parallel --lint"]}}}